html, body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    background-image: url("./imgs/main-page.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header, .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    background-color: black;
}

.logo {
    font-size: 32px;
}

.icon-list {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 48px;
}

a, p {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
}

input {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 12px 24px;
    width: 800px;
    flex: 1;
  }

  img {
    width: 300px;
  }

#under-img {
    font-size: 32px;
    color: white;
    margin-top: -60px;
    margin-bottom: 30px;
}